.section {
  padding: 20px;
}
.grid {
  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .div1 {
    grid-area: 1 / 1 / 11 / 3;
    .card {
      max-width: 100%;
      padding: 24px 20px 24px 20px;
      gap: 0px;
      border-radius: 20px;
      color: white;
      background: #000;
      aspect-ratio: 900/924;
    }
  }
  .div2 {
    grid-area: 8 / 3 / 11 / 4;

    .card {
      // aspect-ratio: 456/219;

      max-width: 100%;
      // padding: 24px 20px 24px 20px;
      gap: 0px;
      border-radius: 20px;
      // background: #fff5ee;
    }
  }
  .div3 {
    grid-area: 5 / 3 / 8 / 4;
    .card {
      max-width: 100%;
      padding: 24px 20px 24px 20px;
      gap: 0px;
      border-radius: 20px;
      background: #f2ecff;
      aspect-ratio: 456/265;
    }
  }
  .div4 {
    grid-area: 1 / 3 / 5 / 4;
    .card {
      max-width: 100%;
      padding: 24px 20px 24px 20px;
      gap: 0px;
      border-radius: 20px;
      background: #f8f9fd;
      aspect-ratio: 456/376;
    }
  }
}
