$background_light: #f9f9f9;
$background_white: #fff;
$background_gray: #e5e5e5;
$color_dark: #333;
$color_light: #555;
$color_primary: #ff6b00;
$color_primary_hover: #e65a00;
$border_color: #ccc;
:global(.container) {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.features_section {
  padding: 3rem 1rem;

  .features_heading {
    text-align: left;
    margin-bottom: 2rem;
    color: $color_dark;
    max-width: 806px;
  }

  .features_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .feature_item {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      background: #f8f9fd;
      padding: 1.5rem;
      gap: 1.5rem;
      border-radius: 30px;

      .feature_image {
        aspect-ratio: 468/332;
        position: relative;
        width: 45%;
        border: 8px solid #000;
        border-radius: 20px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          object-fit: cover;
          background: $background_gray;
        }
      }

      .feature_content {
        flex: 1;

        .feature_title {
          font-size: 1.2rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
          color: $color_dark;
        }

        .feature_description {
          font-size: 0.9rem;
          margin-bottom: 1rem;
          color: $color_light;
        }

        .feature_buttons {
          display: flex;
          gap: 0.5rem;

          .launch_demo_button,
          .more_info_button {
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            font-size: 0.9rem;
            transition: background-color 0.3s;

            &.launch_demo_button {
              background-color: $color_primary;
              color: $background_white;

              &:hover {
                background-color: $color_primary_hover;
              }
            }

            &.more_info_button {
              background-color: $background_white;
              color: $color_dark;
              border: 1px solid $border_color;

              &:hover {
                background-color: #f2f2f2;
              }
            }
          }
        }
      }
    }
  }
}
:global {
  .ttl-64 {
    font-size: 30px;
    font-weight: 500;
    @media (min-width: 992px) {
      font-size: 50px;
    }
    @media (min-width: 1200px) {
      font-size: 58px;
    }
    @media (min-width: 1400px) {
      font-size: 64px;
    }
  }
}
